@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

table {
    border-collapse: collapse;
}

th {
    height: 44px;
    padding: 16px;
    font-weight: 600;
}

td {
    height: 40px;
    padding: 0 16px ;
}

.icon-interface {
    border: 1px solid #dadada;
    width: 500px;
    margin: auto;
    /* text-align: center; */
    padding: 0 36px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
}
.payment-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.payment {
    border: 1px solid transparent;
    height: 46px;
    width: 100px;
    object-fit: contain;
    cursor: pointer;
   
}


.info-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-number {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dadada;
    width: 90%;
    height: 36px;
    border-radius: 4px;
    position: relative;
}

.input-check {
    border: none;
    padding: 0 16px;
    outline: none;
}

.icon {
    position: absolute;
    right: 15px;
    color: #afb2ff;
}

.info-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}
.expiry-date, .card-cvc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-info {
    border: 1px solid #dadada;
    height: 36px;
    width: 175px;
    outline: none;
    border-radius: 4px;
    padding: 0 16px;
}

.btn-save {
        border: 1px solid #dadada;
        height: 36px;
        width: 140px;
        border-radius: 24px;
        background-color: #316bff;
        color: #fff;
        cursor: pointer;
}



